<!DOCTYPE html>
<html>
  <head>
    <title>Article Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Title : <%= art.title %></h1>
   	<p><%=art.body%></p>
	</ul>
  </body>
</html>
